<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="m-3"><%= $asignatura.asignatura %> - Perfil Egresados <span class="h5"><%= link_to 'Volver', areas_formacions_asignaturas_path($asignatura.area_formacion_id) %></span></h1>
<table class="table table-dark"><thead>
<tr>
    <th>Id</th><th>Perfil</th><th>Asignatura</th><th colspan="2"></th>
    <th class="text-center"><%= link_to 'Nuevo Perfil Egresado', new_perfil_egresado_path, :class => "btn btn-primary" %></th>

</tr>
</thead>
<tbody>
  <% @perfil_egresados.each do |perfil_egresado| %>
    <tr>
    <td><%= perfil_egresado.id %></td>
    <td><%= perfil_egresado.perfil %></td>
    <td><%= perfil_egresado.asignatura_id %></td>
    <td class="text-center"><%= link_to 'Editar', edit_perfil_egresado_path(perfil_egresado), :class => "btn btn-success" %></td>
    <td class="text-center"><%= link_to 'Borrar', perfil_egresado, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "btn btn-danger"%></td>
    <td class="text-center"><%= link_to 'Mostar', perfil_egresado, :class => "btn btn-primary" %></td>
    </tr>   
<% end %>
</tbody>
</table>
</div>
